<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item">
          <a routerLink="/admin/lessor-manager">
            <i class="ti ti-users text-primary"></i>
            Gestion des bailleurs
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <i class="ti ti-user-plus text-primary"></i>
          Nouveau bailleur
        </li>
      </ol>
    </nav>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h3 class="card-title fw-semibold">
          <i class="ti ti-user-plus text-primary"></i>
          Editer un bailleur
        </h3>
        <a routerLink="/admin/lessor-manager" class="btn btn-warning">
          <i class="ti ti-arrow-back"></i>
          Retour
        </a>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="card-body">
          <ngx-loading [show]="isLoading" [config]="{
            animationType: ngxLoadingAnimationTypes.wanderingCubes,
            primaryColour: primaryColour,
            secondaryColour: secondaryColour,
            backdropBorderRadius: '3px'
          }"></ngx-loading>
          <div class="alert alert-warning">
            Vérifiez la conformité des informations avant l'enregistrement.
          </div>
          <div class="row">
            <div class="col-12">
              <span>Informations personnelles</span>
              <hr />
            </div>
            <div class="col-12">
              <div class="row p-3">
                <div class="col-6 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg rounded-0" placeholder="ID"
                      formControlName="bailleurId" [(ngModel)]="MbailleurId" hidden />
                    <label class="form-label">Nom complet <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      placeholder="p.ex. John Doe / Agence Mbaza" formControlName="bailleurNomPrenoms" />
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div class="form-group">
                    <label class="form-label">Adresse <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      placeholder="p.ex. Riviera Bonoumin" formControlName="bailleurAdresse" />
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div class="form-group">
                    <label class="form-label"><i class="ti ti-phone"></i> Numéro de téléphone
                      <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-lg rounded-0" placeholder="+225 XX XX XX XX XX"
                      formControlName="bailleurTelephone" />
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <div class="form-group">
                    <label class="form-label"><i class="ti ti-mail"></i> E-mail
                      <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-lg rounded-0" placeholder="p.ex. name@domain"
                      formControlName="bailleurEmail" />
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div class="form-group">
                    <label class="form-label">Date de naissance
                      <span class="text-danger">*</span></label>
                    <input type="date" class="form-control form-control-lg rounded-0"
                      formControlName="bailleurDateNaissance" />
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div class="form-group">
                    <label class="form-label">Numéro d'identification</label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      placeholder="p.ex. numéro de passport / sécurité sociale" formControlName="bailleurNumero" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span>Informations financières</span>
              <hr />
            </div>
            <div class="col-12">
              <div class="row p-3">
                <div class="col-12 mb-3">
                  <div class="form-group">
                    <label class="form-label">Nom de la Banque<span class="text-danger">*</span></label>
                    <select class="form-select rounded-0" formControlName="banqueId">
                      <option value={{n.banqueId}} *ngFor="let n of banks">{{n.sigleBanque}}</option>
                    </select>
                  </div>

                </div>
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <label class="form-label">Numéro de compte bancaire
                      <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      formControlName="bailleurNumCompte" />
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <label class="form-label">Revenu annuel <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-lg rounded-0" appInputFormat
                      formControlName="bailleurRevenu" />
                  </div>
                </div>

                <div class="col-4 mb-3">
                  <div class="form-group">
                    <label class="form-label">Taux d'intérêt (%)<span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-lg rounded-0" appInputFormat
                    formControlName="bailleurTaux" />
                  </div>
                </div>
                <!-- <div class="col-6 mb-3">
                                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="ti ti-credit-card"></i>
                                    Ajouter un mode de paiement mobile money
                                </button>
                            </div>
                            <div class="col-12 mb-3">
                                <table class="table table-bordered table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Mode de paiement.</th>
                                            <th>Numéro.</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let n of [].constructor(2)">
                                            <td align="center">
                                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <img src="../assets/images/profile/user-1.jpg" alt="" width="35"
                                                        height="35" class="rounded-circle">
                                                </a>
                                            </td>
                                            <td>Orange Money</td>
                                            <td>+225 07 07 79 67 87</td>
                                            <td>
                                                <a href="#" class="btn btn-sm btn-danger ms-2">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <span>Contact d'urgence</span>
              <hr />
            </div>
            <div class="col-12">
              <div class="row p-3">
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <label class="form-label">Personne à contacter en cas d'urgence</label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      formControlName="bailleurPersUrgence" />
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <label class="form-label">Relation avec le bailleur</label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      formControlName="bailleurRelationUrgence" />
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <label class="form-label">Numéro de téléphone</label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      formControlName="bailleurTelUrgence" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          
          <div class="row">
            <div class="col-12">
              <span>Documents d'identification</span>
              <hr />
            </div>

            <div class="col-12 row">
              <div class="col-6 input-group mb-3">
                <div class="input-group-text">
                  <label style="cursor: pointer" for="file"><i class="ti ti-upload"></i> Carte d'identité / Passeport
                    <span class="text-danger">*</span></label>
                  <input type="file" accept="image/png, image/jpeg" id="file"
                    class="form-control form-control-lg d-none" (change)="onFileChange($event)" />
                </div>
                <input type="text" class="form-control" readonly [value]="previewImage ? previewImage : ''"
                  placeholder="Aucun fichier sélectionné" />
                <div  style="text-align: center">
                  <img *ngIf="lienPhotoretour" src="{{ lienPhotoretour }}" alt="" width="100" height="100"
                     />
                    
                </div>
              </div>
              <div class="col-6 input-group mb-3">
                <div class="input-group-text">
                  <label style="cursor: pointer" for="file2"><i class="ti ti-upload"></i> Photo / Logo
                    <span class="text-danger">*</span></label>
                  <input type="file" accept="image/png, image/jpeg" id="file2"
                    class="form-control form-control-lg rounded-0 d-none" (change)="onFileChange2($event)" />
                </div>
                <input type="text" class="form-control" readonly [value]="previewImage2 ? previewImage2 : ''"
                  placeholder="Aucun fichier sélectionné" />
                <div  style="text-align: center">
                  <img *ngIf="lienPhotoretour2" src="{{ lienPhotoretour2 }}" alt="" width="100" height="100"
                    class="rounded-circle" />
                </div>
              </div>
            </div>
          </div>


          
          <div class="row" style="background-color: blanchedalmond;">
            <div class="col-12">
              <span style="color: red; font-weight: bold;"> Contact de l'hussier (Pour les alerts)</span>
              <hr />
            </div>
            <div class="col-12">
              <div class="row p-3">
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <label class="form-label">Email de l'hussier</label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      formControlName="bailleurEmailHussier"  placeholder="Entrez l'email de l'hussier ici"/>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <label class="form-label">Téléphone de l'hussier</label>
                    <input type="text" class="form-control form-control-lg rounded-0"
                      formControlName="bailleurTelHussier" placeholder="Entrez le numéro de téléphone ici"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row bg-light py-2 rounded">
              <div class="col-12 d-flex">
                <button class="btn btn-warning shadow" routerLink="/admin/lessor-manager">
                  <i class="ti ti-arrow-back"></i>
                  Retour
                </button>
                <button class="btn btn-danger ms-auto shadow" routerLink="/admin/lessor-manager">Annuler</button>
                <button type="submit" class="btn btn-success ms-3 shadow" [disabled]="formGroup.invalid">
                  <i class="ti ti-database"></i>
                  Enregistrer
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row" style="padding-top: 30px" *ngIf="MbailleurId">
      <div class="col-12">
        <span>Informations propriétés</span>
        <hr />
      </div>
      <div class="col-12">
        <div class="row p-3">
          <div class="col-6 mb-3">
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="OuvrirAjoutPropriete()">
              <i class="ti ti-home-plus"></i>
              Ajouter une propriété
            </button>
           
           </div>
          <div class="col-12 mb-3">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead class="table-dark">
                  <tr>
                    <th>Code.</th>
                    <th>Localisation.</th>
                    <th>Type de propriété.</th>
                    <th>Année de construction.</th>
                    <th>Prix d'achat / location.</th>
                    <th>Actions.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let n of listepropriete; let i = index">
                    <td>{{ n.proprieteCode }}</td>
                    <td>
                      <div class="text-overflow">
                        {{ n.proprieteAdresse }}
                      </div>
                    </td>
                    <td>
                      <div class="text-overflow">
                        {{ n.typebien.libelleTypebien }}
                      </div>
                    </td>
                    <td>
                      <div class="text-overflow">{{ n.proprieteAnnee }}</div>
                    </td>
                    <td class="alert alert-info">
                      <div class="text-overflow fw-semibold">
                        {{ n.proprietePrix }}
                      </div>
                    </td>
                    <td>
                      <div class="d-flex">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="setFormPropriete(n)"
                          class="btn btn-sm btn-info">
                          <i class="ti ti-edit"></i>
                        </a>
                        <a (click)="supPropriete(n.proprieteId)" class="btn btn-sm btn-danger ms-2">
                          <i class="ti ti-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal ajout mode de paiement mobile money-->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="ti ti-credit-card"></i> Ajouter un mode de paiement mobile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="form-group">
                            <label class="form-label">Mode de paiement mobile<span
                                    class="text-danger">*</span></label>
                            <select class="form-select rounded-0">
                                <option value="">-- Choisir le mode de paiement --</option>
                                <option value="">MTN MONEY</option>
                                <option value="">ORANGE MONEY</option>
                                <option value="">MOOV MONEY</option>
                                <option value="">WAVE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="form-group">
                            <label class="form-label">Numéro de téléphone associé <span class="text-danger">*</span></label>
                            <input type="text" class="form-control rounded-0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success">Ajouter</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal ajout propriété -->
<div class="modal modal-lg fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <form [formGroup]="formProprieteGroup" (ngSubmit)="submitPropriete(formProprieteGroup.value)">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content rounded-0">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-white" id="exampleModalLabel">
            <i class="ti ti-home-plus rounded-circle bg-white text-info p-2"></i>
            Nouvelle propriété
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class="col-12">
              <h6 class="text-warning">Informations générales</h6>
            </div>
            <div class="col-5 mb-3">
              <div class="form-group">
                <label class="form-label">Adresse <span class="text-danger">*</span></label>
                <input type="text" class="form-control rounded-0" formControlName="proprieteId"
                  placeholder="proprieteId" hidden />
                <input type="text" class="form-control rounded-0" formControlName="proprieteAdresse" />
              </div>
            </div>
            <div class="col-3 mb-3">
              <div class="form-group">
                <label class="form-label">Type de propriété<span class="text-danger">*</span></label>
                <select class="form-select rounded-0" formControlName="typebienId">
                  <option value="">-- Choisir le type de propriété --</option>
                  <option *ngFor="let n of typesProprietes" [value]="n.typebienId">
                    {{ n.libelleTypebien }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4 mb-3">
              <div class="form-group">
                <label class="form-label">Année de construction
                  <span class="text-danger">*</span></label>
                <input type="number" class="form-control rounded-0" formControlName="proprieteAnnee" />
              </div>
            </div>
            <div class="col-3 mb-3">
              <div class="form-group">
                <label class="form-label">Surface (m<sup>2</sup>)</label>
                <input type="number" class="form-control rounded-0" formControlName="proprieteSurface" />
              </div>
            </div>
            <div class="col-3 mb-3">
              <div class="form-group">
                <label class="form-label">Nbre d'étages</label>
                <input type="number" class="form-control rounded-0" formControlName="proprieteNbrEtage" />
              </div>
            </div>
            <div class="col-3 mb-3">
              <div class="form-group">
                <label class="form-label">Nbre de chambres</label>
                <input type="number" class="form-control rounded-0" formControlName="proprieteNbrChambre" />
              </div>
            </div>
            <div class="col-3 mb-3">
              <div class="form-group">
                <label class="form-label">Nbre de salles de bains</label>
                <input type="number" class="form-control rounded-0" formControlName="proprieteNbreSalleBain" />
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-group">
                <label class="form-label">Description</label>
                <textarea rows="5" class="form-control rounded-0" formControlName="proprieteDescription"></textarea>
              </div>
            </div>
            <div class="col-12">
              <h6 class="text-warning">Informations financières</h6>
            </div>

            <div class="col-4 mb-3">
              <div class="form-group">
                <label class="form-label">Prix d'achat ou de location<span class="text-danger">*</span></label>
                <input type="text" class="form-control rounded-0" appInputFormat formControlName="proprietePrix" />
              </div>
            </div>
            <div class="col-3 mb-3">
              <div class="form-group">
                <label class="form-label">Statut<span class="text-danger">*</span></label>
                <select class="form-select rounded-0" formControlName="proprieteStatu">
                  <option value="Disponible" >Disponible</option>
                  <option value="Vendu">Vendu</option>
                  <option value="Loué">Loué</option>
                </select>
              </div>
            </div>
            <div class="col-5 mb-3">
              <div class="form-group">
                <label class="form-label">Hypothèques ou prêts liés à la propriété</label>
                <input type="text" class="form-control rounded-0" />
              </div>
            </div>
            <div class="col-12">
              <h6 class="text-warning">Caractéristiques spécifiques</h6>
            </div>
            <div class="col-12 mb-3">
              <div class="form-check d-inline-block me-3">
                <label class="form-check-label" for="jardin">Jardin</label>
                <input type="checkbox" class="form-check-input rounded-0" id="jardin"
                  formControlName="proprieteJardin" />
              </div>
              <div class="form-check d-inline-block me-3">
                <label class="form-check-label" for="piscine">Piscine</label>
                <input type="checkbox" class="form-check-input rounded-0" id="piscine"
                  formControlName="proprietePiscine" />
              </div>
              <div class="form-check d-inline-block me-3">
                <label class="form-check-label" for="garage">Garage ou espace de stationnement</label>
                <input type="checkbox" class="form-check-input rounded-0" id="garage"
                  formControlName="proprieteGarage" />
              </div>
              <div class="form-check d-inline-block me-3">
                <label class="form-check-label" for="balcon">Balcon ou terrasse</label>
                <input type="checkbox" class="form-check-input rounded-0" id="balcon"
                  formControlName="proprieteBalcon" />
              </div>
              <div class="form-check d-inline-block me-3">
                <label class="form-check-label" for="cheminee">Cheminée</label>
                <input type="checkbox" class="form-check-input rounded-0" id="cheminee"
                  formControlName="proprieteChemine" />
              </div>
              <div class="form-check d-inline-block me-3">
                <label class="form-check-label" for="climatisation">Système de climatisation</label>
                <input type="checkbox" class="form-check-input rounded-0" id="climatisation"
                  formControlName="proprieteClimatisation" />
              </div>
              <div class="form-check d-inline-block me-3">
                <label class="form-check-label" for="supplémentaires">Équipements supplémentaires</label>
                <input type="checkbox" class="form-check-input rounded-0" [(ngModel)]="eqpmtSup" id="supplémentaires"
                  formControlName="proprieteEquipement" />
              </div>
            </div>
            <div class="col-12 mb-3" *ngIf="eqpmtSup">
              <div class="d-flex mb-3">
                <div class="form-group w-100">
                  <input type="text" class="form-control rounded-0" placeholder="Nom de l'équipement"
                    formControlName="proprieteequipementdetails" />
                </div>
                <button type="button" class="btn btn-primary ms-3">
                  Ajouter
                </button>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Libéllé de l'équipement</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Buanderie</td>
                  </tr>
                  <tr>
                    <td>Cuisine équipée</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12">
              <h6 class="text-warning">Localisation</h6>
            </div>
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-label">Coordonnées géopgraphiques</label>
                <div class="d-flex">
                  <input type="number" class="form-control rounded-0" placeholder="Longitude"
                    formControlName="proprieteLongitude" />
                  <input type="number" class="form-control rounded-0 ms-2" placeholder="Latitude"
                    formControlName="proprieteLatitude" />
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-label">Quartier ou zone</label>
                <input type="text" class="form-control rounded-0" formControlName="proprieteQuartier" />
              </div>
            </div>
            <div class="col-12">
              <h6 class="text-warning">Images</h6>
            </div>
            <div class="col-12 mb-3">
              <div class="form-group">
                <label class="btn btn-light-primary" for="filePropriete"><i class="ti ti-upload"></i> Sélectionner l'image principale
                  <span class="text-danger">*</span></label>
                  
                  <input type="file" id="filePropriete" class="form-control form-control-lg rounded-0 d-none"
                  (change)="onFileChangePropriete($event)" />
                  <div class="row" *ngIf="formProprieteGroup.get('proprieteLienPhoto')?.value">
                    <div class="col-6 mb-3">
                      <div class="border" style="height: 200px">
                        <img src="{{ lienPhotoretourPropriete }}" alt="" class="w-100 h-100" />
                      </div>
                    </div>
                  </div>
                  <p></p>
                  <label class="btn btn-light-primary" for="filePropriete"><i class="ti ti-upload"></i> Sélectionner les autres images </label>
                  <input type="text" class="form-control form-control-lg rounded-0 d-none"
                  formControlName="proprieteLienPhoto"/>
              </div>

              <p-fileUpload [maxFileSize]="1000000" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" >
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
            </div>
       
          </div>
        </div>
        <input type="text" formControlName="bailleurId" [(ngModel)]="MbailleurId" class="d-none"/>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="fermeFenPropriete()">
            Fermer
          </button>
          <button type="submit" class="btn btn-success" [disabled]="formProprieteGroup.invalid">Enregistrer</button>
        </div>
      </div>
    </div>

  </form>
</div>