<div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <i class="ti ti-building-bank text-primary"></i>
            Types de Biens ou Propiétés
          </li>
        </ol>
      </nav>
    </div>
  
    <div class="col-12">
      <div class="card">
        <div
          class="card-header d-flex align-items-center justify-content-between"
        >
          <h3 class="card-title fw-semibold">
            <i class="ti ti-building-bank text-primary"></i>
            Type [<span class="text-danger">{{ typebiens.length }}</span
            >]
          </h3>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-4">
              <form
                [formGroup]="formGroup"
                (ngSubmit)="ajouteTypebien(formGroup.value)"
              >
                <div class="row">
                  <h4 class="mb-3">
                    <strong>Editer un type</strong>
                  </h4>
  
                  <div class="col-12 mb-2">
                    <input
                      type="text"
                      pInputText
                      placeholder="Libéllé"
                      class="w-100"
                      formControlName="libelleTypebien"
                    />
                  </div>
                  <div class="col-12 mb-2">
                   
                    <input
                      type="text"
                      pInputText
                      placeholder="typebienId"
                      class="w-100"
                      formControlName="typebienId"
                      hidden
                    />
                  </div>
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-danger btn-lg"
                      (click)="annuler()"
                    >
                      <span class="ti ti-circle-x"></span>
                      Annuler
                    </button>
                    <button
                      type="submit"
                      class="btn btn-success btn-lg ms-3"
                      [disabled]="formGroup.invalid"
                    >
                      <span class="ti ti-database"></span>
                      Enregistrer
                    </button>
                  </div>
              
                </div>
              </form>
            </div>
  
            <div class="col-8">
              <p-table
          [scrollable]="true"
          #dt1
          currentPageReportTemplate="Affichage {first} sur {last} pour {{
            typebiens.length
          }} utilisateur(s)"
          [globalFilterFields]="['libelleTypebien']"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [paginator]="true"
          [rows]="5"
          [showCurrentPageReport]="true"
          [value]="typebiens"
          styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
          [tableStyle]="{ 'font-size': '15px' }"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <span class="p-input-icon-left ml-auto w-50">
                <i class="ti ti-search"></i>
                <input
                  pInputText
                  type="text"
                  class="form-control w-100"
                  #search
                  (input)="dt1.filterGlobal(search.value, 'contains')"
                  placeholder="Mots clés"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Libéllé</th>
              <th>Actions.</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-typebien>
            <tr>
              <td>
                {{typebien.libelleTypebien}}
            </td>
             
              <td>
                <div class="d-flex align-items-center">
                  <a href="#" class="btn btn-sm btn-info me-3"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal1"
                  (click)="oneTypebien(typebien.typebienId)"
                  >
                    <i class="ti ti-edit"></i>
                  </a>
                  <a  class="btn btn-sm btn-danger me-3"
                  (click)="supTypebien(typebien.typebienId)"
                  >
                    <i class="ti ti-trash"></i>
                  </a>
                </div>
                
              </td>
            </tr>
          </ng-template>
        </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  