<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <i class="ti ti-users text-primary"></i>
                    Locataires
                </li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h3 class="card-title fw-semibold">
                    <i class="ti ti-users text-primary"></i>
                    Locataires [<span class="text-danger">{{listeLocatireFiltre.length}}</span>]
                </h3>
                <a class="btn btn-warning" (click)="back()">
                    <i class="ti ti-arrow-back"></i>
                    Retour
                </a>
            </div>
            <div class="card-body">
            
    <p-table [scrollable]="true" #dt1 currentPageReportTemplate="Affichage {first} sur {last} pour {{
                      listeLocatireFiltre.length
                    }} locataire(s)" [globalFilterFields]="['locataireRef', 'locataireNom', 'locataireTel', 'propriete.proprieteCode', 'bailleur.bailleurNomPrenoms']"
        [rowsPerPageOptions]="[5, 10, 25, 50]" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [value]="listeLocatireFiltre" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
        [tableStyle]="{ 'min-width': '80rem', 'font-size': '15px' }">
        <ng-template pTemplate="caption">
            <div class="d-flex flex-row justify-content-between">
                <span class="p-input-icon-left ml-auto w-50">
                    <i class="ti ti-search"></i>
                    <input pInputText type="text" class="form-control w-100" #search 
                        (input)="dt1.filterGlobal(search.value, 'contains')" placeholder="Mots clés" />
                </span>
                <div class="d-flex flex-row m-2">
                      <select class="form-select rounded-0" #bailleur (change)="filtreBailleur(bailleur.value)">
                    <option value="">-- Tous les bailleurs --</option>
                    <option  *ngFor="let bailleur of listeBailleur"  value="{{bailleur.bailleurNomPrenoms}}">{{bailleur.bailleurNomPrenoms}}</option>
                </select>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Image.</th>
                <th class="text-center">Référence.</th>
                <th class="text-center">Nom & Prénom(s).</th>
                <th class="text-center">Loyer mensuel.</th>
                <th class="text-center">Contact.</th>
                <th class="text-center">Propriété.</th>
                <th class="text-center">Nbre Pers. charge.</th>
                <th class="text-center">Caution.</th>
                <th class="text-center">Bailleur.</th>
                <th class="text-center" pFrozenColumn>Actions</th>
            </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-n>
            <tr>
                <td class="text-center">
                    <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img *ngIf="!n.locatairePhoto" src="assets/images/profile/user-1.jpg" alt="" width="35"
                            height="35" class="rounded-circle" />
                        <img *ngIf="n.locatairePhoto" src="{{ urlimg }}{{ n.locatairePhoto }}" alt="" width="35"
                            height="35" class="rounded-circle" />
                    </a>
                </td>
                <td class="text-uppercase">{{ n.locataireRef }}</td>
                <td class="text-capitalize">{{ n.locataireNom }}</td>
                <td>{{ n.propriete.proprietePrix }}</td>
                <td>{{ n.locataireTel }}</td>
                <td>{{ n.propriete.proprieteCode }}</td>
                <td>{{ n.locataireNbrecharge }}</td>
                <td>{{ n. locataireCaution}}</td>
                <td>{{ n.bailleur.bailleurNomPrenoms }}</td>
                <td pFrozenColumn alignFrozen="right">
                    <div class="d-flex align-items-center">
                        <a routerLink="#" class="btn btn-sm btn-info me-2">
                            <i class="ti ti-edit"></i>
                        </a>
                        <!--a class="btn btn-sm btn-danger me-2" (click)="supBailleur(n.bailleurId, n.proprietes.length )">
                            <i class="ti ti-trash"></i>
                        </a-->
                        <a routerLink="#" class="btn btn-sm btn-light">
                            <i class="ti ti-chevron-right"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
             
            </div>
        </div>
    </div>
</div>