<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <i class="ti ti-user-circle text-primary"></i>
                    Gestion des utilisateurs
                </li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h3 class="card-title fw-semibold">
                    <i class="ti ti-user-circle text-primary"></i>
                    Gestion des utilisateurs
                </h3>
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <i class="ti ti-user-plus"></i>
                    Nouvel utilisateur
                </a>
            </div>
            <div class="card-body">
                <div class="alert alert-info">Gérez vos utilisateurs (Ajoutez, modifiez, désactivez ou attribuez des
                    rôles à vos
                    utilisateurs).</div>
                <p-table [scrollable]="true" #dt1
                    currentPageReportTemplate="Affichage {first} de {last} à {totalRecords} entrées"
                    [globalFilterFields]="['name', 'email', 'contact']" [rowsPerPageOptions]="[10, 25, 50]"
                    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [value]="users"
                    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                    [tableStyle]="{'min-width': '50rem', 'font-size': '15px'}">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left ml-auto w-50">
                                <i class="ti ti-search"></i>
                                <input pInputText type="text" class="form-control w-100" #search
                                    (input)="dt1.filterGlobal(search.value, 'contains')" placeholder="Mots clés" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Image.</th>
                            <th>Nom & Prénom(s).</th>
                            <th>Email.</th>
                            <th>Contact.</th>
                            <th>
                                Rôle.
                                <p-columnFilter field="role" matchMode="in" display="menu" [showClearButton]="false"
                                    [showApplyButton]="false" [showMatchModes]="false" [showOperator]="false"
                                    [showAddButton]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-multiSelect [ngModel]="value"
                                            [options]="['ROOT', 'ADMIN', 'HUISSIER', 'BANQUE']"
                                            placeholder="Filtrer par role" (onChange)="filter($event.value)">
                                            <ng-template let-option pTemplate="item">
                                                <ng-container *ngIf="option === 'ROOT'">
                                                    <p-tag severity="info" [value]="option | lowercase"></p-tag>
                                                </ng-container>
                                                <ng-container *ngIf="option === 'ADMIN'">
                                                    <p-tag severity="success" [value]="option | lowercase"></p-tag>
                                                </ng-container>
                                                <ng-container *ngIf="option === 'HUISSIER'">
                                                    <p-tag severity="danger" [value]="option | lowercase"></p-tag>
                                                </ng-container>
                                                <ng-container *ngIf="option === 'BANQUE'">
                                                    <p-tag severity="warning" [value]="option | lowercase"></p-tag>
                                                </ng-container>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th>
                                Statut.
                                <p-columnFilter field="statut" matchMode="in" display="menu" [showClearButton]="false"
                                    [showApplyButton]="false" [showMatchModes]="false" [showOperator]="false"
                                    [showAddButton]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-multiSelect [ngModel]="value" [options]="[0, 1]"
                                            placeholder="Filtrer par statut" (onChange)="filter($event.value)">
                                            <ng-template let-option pTemplate="item">
                                                <ng-container *ngIf="option === 0">
                                                    <p-tag severity="info" value="inactif"></p-tag>
                                                </ng-container>
                                                <ng-container *ngIf="option === 1">
                                                    <p-tag severity="success" value="actif"></p-tag>
                                                </ng-container>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th>Actions.</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td align="center">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="assets/images/profile/user-1.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </a>
                            </td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.tel }}</td>
                            <td>
                                <ng-container *ngIf="user.role === 'ROOT'">
                                    <p-tag severity="info" [value]="user.role | lowercase"></p-tag>
                                </ng-container>
                                <ng-container *ngIf="user.role === 'ADMIN'">
                                    <p-tag severity="success" [value]="user.role | lowercase"></p-tag>
                                </ng-container>
                                <ng-container *ngIf="user.role === 'HUISSIER'">
                                    <p-tag severity="danger" [value]="user.role | lowercase"></p-tag>
                                </ng-container>
                                <ng-container *ngIf="user.role === 'BANQUE'">
                                    <p-tag severity="warning" [value]="user.role | lowercase"></p-tag>
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="user.statut === 0">
                                    <p-tag severity="info" value="inactif"></p-tag>
                                </ng-container>
                                <ng-container *ngIf="user.statut === 1">
                                    <p-tag severity="success" value="actif"></p-tag>
                                </ng-container>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="#" class="btn btn-sm btn-info me-3">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" [checked]="user.statut">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<!-- Modal pénalités -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    <i class="ti ti-user-circle rounded-circle bg-white text-warning p-2"></i>
                    Nouveau compte utilisateur
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p-dropdown [options]="countries" styleClass="w-100 mb-3" [(ngModel)]="selectedCountry"
                            optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                            placeholder="-- Choisir le pays --">
                            <ng-template pTemplate="selectedItem">
                                <div class="d-flex align-items-center gap-2" *ngIf="selectedCountry">
                                    <span [class]="'fi fi-' + selectedCountry.code.toLowerCase()"></span>
                                    <div>{{ selectedCountry.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="d-flex align-items-center gap-2">
                                    <span [class]="'fi fi-' + country.code.toLowerCase()"></span>
                                    <div>{{ country.name }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label class="form-label">Nom & prénom(s) <span class="text-danger">*</span></label>
                            <input type="text" class="form-control rounded-0" placeholder="p.ex. John Doe">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label class="form-label">Email <span class="text-danger">*</span></label>
                            <input type="text" class="form-control rounded-0" placeholder="p.ex. john.doe@mbaza.com">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label class="form-label">Contact <span class="text-danger">*</span></label>
                            <input type="text" class="form-control rounded-0" placeholder="p.ex. +225 XX XX XX XX XX">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label class="form-label">Rôle <span class="text-danger">*</span></label>
                            <select class="form-select">
                                <option value="">-- Attribuez un rôle --</option>
                                <option value="">SUPER ADMINISTRATEUR</option>
                                <option value="">ADMINISTRATEUR</option>
                                <option value="">HUISSIER</option>
                                <option value="">BANQUE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <label style="cursor: pointer;" for="file2"><i class="ti ti-upload"></i> Sélectionner
                                    une image <span class="text-danger">*</span></label>
                                    <input type="file" accept="image/png, image/jpeg" id="file2"
                                    class="form-control form-control-lg rounded-0 d-none" (change)="onFileChange($event)">
                                </div>
                                <input type="text" class="form-control" readonly [value]="previewImage ? previewImage : ''" placeholder="Aucun fichier sélectionné">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label class="form-label">Définir un mot de passe <span class="text-danger">*</span></label>
                            <input type="password" class="form-control rounded-0">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <label class="form-check-label" for="automaticPassword">Générer un mot de passe</label>
                            <input id="automaticPassword" type="checkbox" class="form-check-input rounded-0">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="activeUserAccount">
                            <label class="form-check-label" for="activeUserAccount">Activer / Désactiver</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success">Créer</button>
            </div>
        </div>
    </div>
</div>