<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <i class="ti ti-user-circle text-primary"></i>
          Gestion des pays
        </li>
      </ol>
    </nav>
  </div>

  <div class="col-12">
    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between"
      >
        <h3 class="card-title fw-semibold">
          <i class="ti ti-map text-primary"></i>
          Gestion des pays
        </h3>
        <a
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal1"
        >
          <i class="ti ti-map-2"></i>
          Ajouter un pays
        </a>
      </div>
      <!--div class="card-body">
                <div class="alert alert-info">Gérez vos utilisateurs (Ajoutez, modifiez, désactivez ou attribuez des rôles à vos
                    utilisateurs).</div>
                <div class="row mb-3">
                    <div class="col-6">
                        <input type="search" class="form-control rounded-0" placeholder="Recherche">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Image.</th>
                                <th>Nom & Prénom(s).</th>
                                <th>Email.</th>
                                <th>Contact.</th>
                                <th>Rôle.</th>
                                <th>Statut.</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let n of listpays">
                                <td align="center">
                                    <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35"
                                            class="rounded-circle">
                                    </a>
                                </td>
                                <td><div class="text-overflow">{{n.username}}</div></td>
                                <td><div class="text-overflow">{{n.email}}</div></td>
                                <td><div class="text-overflow">{{n.contact}}</div></td>
                                <td><div class="alert alert-danger py-1">{{n.role}}</div></td>
                                <td><div class="alert alert-success py-1">Connecté</div></td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" class="btn btn-sm btn-info">
                                            <i class="ti ti-edit"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-danger ms-2">
                                            <i class="ti ti-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"><strong>Nombre d'enregistrement : {{listpays.length}}</strong></td>
                                <td colspan="4" class="py-0">
                                    <nav aria-label="Page navigation example" class="float-end">
                                        <ul class="pagination mb-0">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div-->
      <div class="card-body">
        <div class="alert alert-info">
          Gérez vos pays (Ajoutez, modifiez les pays associés au projet).
        </div>
        <ngx-loading [show]="loading" [config]="{
          animationType: ngxLoadingAnimationTypes.wanderingCubes,
          primaryColour: primaryColour,
          secondaryColour: secondaryColour,
          backdropBorderRadius: '3px'
        }"></ngx-loading>
        <p-table
          [scrollable]="true"
          #dt1
          currentPageReportTemplate="Affichage {first} sur {last} pour {{
            listpays.length
          }} utilisateur(s)"
          [globalFilterFields]="['libellePays']"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [paginator]="true"
          [rows]="5"
          [showCurrentPageReport]="true"
          [value]="listpays"
          styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
          [tableStyle]="{ 'min-width': '50rem', 'font-size': '15px' }"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <span class="p-input-icon-left ml-auto w-50">
                <i class="ti ti-search"></i>
                <input
                  pInputText
                  type="text"
                  class="form-control w-100"
                  #search
                  (input)="dt1.filterGlobal(search.value, 'contains')"
                  placeholder="Mots clés"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Pays</th>
              <th>Actions.</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-n>
            <tr>
              <td>
                <span [class]="'fi fi-' + n.codePays.toLowerCase()"> </span>
                <span class="ml-1 vertical-align-middle"> {{n.libellePays}}</span>
            </td>
             
              <td>
                <div class="d-flex align-items-center">
                  <a href="#" class="btn btn-sm btn-info me-3"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal1"
                  (click)="getOnePays(n.paysId)"
                  >
                    <i class="ti ti-edit"></i>
                  </a>
                  <a  class="btn btn-sm btn-danger me-3"
                  (click)="supPays(n.paysId)"
                  >
                    <i class="ti ti-trash"></i>
                  </a>
                </div>
                
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!-- Modal ajout utilisateur -->
<form [formGroup]="formGroup" (ngSubmit)="submitPays(formGroup.value)">
  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-white" id="exampleModalLabel">
            <i
              class="ti ti-user-circle rounded-circle bg-white text-warning p-2"
            ></i>
            Nouveau Pays
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group mb-3">
                <label class="form-label"
                  >Pays <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control rounded-0"
                  placeholder="p.ex. Côte d'Ivoire"
                  formControlName="libellePays"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-3">
                <label class="form-label"
                  >Code <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control rounded-0"
                  placeholder="CI"
                  formControlName="codePays"
                />
                <input
                  type="text"
                  class="form-control rounded-0"
                  placeholder="ID"
                  formControlName="paysId"
                  hidden
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-warning"
            data-bs-dismiss="modal"
            #closeModal
          >
            Fermer
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="formGroup.invalid"
          >
            Créer
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
